title = "Answers"
url = "/otazka/:slug"
layout = "default"
is_hidden = 0

[forumTopic]
slug = "{{ :slug }}"
postsPerPage = 20
memberPage = "account"
channelPage = "questions"
==
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Caladea&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="{{'assets/css/answers3.css'|theme}}">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<style>
.main-content-bg{
  background-image: url("{{'assets/images/mainbg.jpg'|theme}}");
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: cover;
}
</style>
<div class="container main-content-bg" style="height:1200px;">
    
<div class="rainlab-forum">
    <!--{% flash %}
        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
    {% endflash %}-->
    {% if returnUrl %}
        <p> <a href="{{ returnUrl }}" style="text-decoration: none;color: black;font-size: 20px;font-family: 'Poppins', sans-serif;padding: 25px;">🡨 Späť na {{ channel.title }}</a></p>
    {% endif %}
    {% if topic %}
        <div class="row">
            <div class="col-md-9">
                <div class="answers-content">
                <h4 style="color: white;padding: 25px;font-size: 30px;text-align: center;">{{ topic.subject }}</h4>
                {% partial "@posts" %}
                {% partial "@pagination" %}
                {% if not topic.canPost %}
                    <p  style="color: white;">
                        Nemôžeš editovať a pridávať odpovede:
                        {% if not member %}Musíš byť prihlásený.{% endif %}
                        {% if member.is_banned %}Tvoj účeť je zablokovaný.{% endif %}
                        {% if topic.is_locked %}Na túto otázku sa už nedá odpovedať.{% endif %}
                    </p>
                {% else %}
                    {% partial "@postform" %}
                {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div id="topicControlPanel">
                    {% partial "@controlpanel" %}
                </div>
            </div>
            </div>
        </div>
        {% elseif channel %}
        <h4 style="font-family: 'Poppins', sans-serif; font-size: 35px;color: white; padding-left: 20px; padding-bottom: 20px;">Vytvorte novú otázku</h4>
        {% partial "@createform" %}
    {% else %}
        <p>Topic not found</p>
    {% endif %}
</div>
</div>
<script>
  function SigninRedirect() {
    window.location.href = "{{ 'signin'|page }}";
}
</script>